/* Styles de base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

/* En-tête */
header {
    background: #222;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #0fbcf9;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 50px;
    text-align: center;
}

#home {
    background: #1e272e;
}

/* Style de l'image */
#home img {
    width: 50%; /* Ajuste la taille de l’image */
    max-width: 600px; /* Limite la largeur max */
    margin-top: 20px;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

#technologies {
    background: #485460;
}

#technologies img {
    width: 50%; /* Ajuste la taille de l’image */
    max-width: 600px; /* Limite la largeur max */
    margin-top: 20px;
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

#applications {
    background: #808e9b;
}

/* Styliser le lien pour qu'il ressemble à un bouton */
.video-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.video-link:hover {
  background-color: #005f73;
}

/* Pied de page */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
}
